/auto-save-list/*
/data/*
/elpa/*
/quelpa/*
/etc/*
/transient/*
/var/*

/.last-package-update-day
/.lsp-session-v1
/.org-id-locations


eln-cache/
eshell/history
eshell/lastdir


/projectile-bookmarks.eld



/.cache/*
/#emacs.org#
