

*10_sql.el

elpa/
eln-cache/
eshell/history
eshell/lastdir
/auto-save-list/
/quelpa/
/.lsp-session-v1
/projectile-bookmarks.eld
/.last-package-update-day
/transient/
/.org-id-locations

/.cache/lsp/metals/coursier
/.cache/
/#emacs.org#
