/auto-save-list/*
/data/*
/elpa/*
eln-cache/
/quelpa/*
/etc/*
/var/*
!/var/bookmark-default.el
el-get/*

/.last-package-update-day
/.lsp-session-v1
/.org-id-locations



custom.el
init.el


/.cache/*
/#emacs.org#
